# Указываем секретный ключ Django, который нужен для безопасной работы проекта.
SECRET_KEY=your_django_secret_key_here
# Указываем режим отладки для локальной разработки.
DEBUG=True
# Указываем разрешенные хосты через запятую.
ALLOWED_HOSTS=127.0.0.1,localhost
# Указываем токен Telegram-бота, который вы получите у BotFather.
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
# Указываем базовый адрес Django API, куда бот будет отправлять запросы.
DJANGO_API_BASE_URL=http://127.0.0.1:8000/api